* {
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    font-family: "Trebuchet MS", Arial;
    font-size: 24px;
    color: #000;
    background-color: #9fe8ef;
}

.slides {
    margin-top: 50px;
}

.title {
    font-weight: normal;
    text-align: center;
    z-index: 5;
    position: relative;
    font-size: 24px;
}

.slide-hand-world {
    text-align: center;
}

.slide-hand-world .hand-world {
    margin: -180px -300px 0 -300px;
}

.earth {
    background-image: url('/images/earth.png');
    width: 432px;
    height: 432px;
    background-size: 100% 100%;
}

.burn-coal {
    background-image: url('/images/coal_burning.png');
    height: 415px;
    width: 432px;
    background-size: 100% 100%;
}

.oil-tap {
    background-image: url('/images/oil_tap.png');
    width: 150px;
    height: 225px;
    background-size: 100% 100%;
}

.slide {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.slide.hide {
    opacity: 0 !important;
    z-index: 0;
}

.slide .earth, .slide .earth_180 {
    position: absolute;
    left: 50%;
    margin-left: -218px;
    top: 205px;
}

.slide .earth .oil-tap {
    top: 181px;
    right: -50px;
    position: absolute;

}

.burn-coal, .slide-coal-burning .burn-coal {
    position: absolute;
    top: -164px;
}

.slide .gas-burn {
    position: absolute;
    z-index: 2;
    opacity: 0;
    top: -222px;
    text-align: center;
    width: 100%;
}

.slide .gas-burn img {
    margin: 0 -369px;
}

.natural-gas-fade-in .oil-tap, .tap-planet-fade-out .oil-tap {
    opacity: 1;
}

.six-challenges {
    text-decoration: none;
}

.six-challenges.global-warming {
    position: absolute;
    top: 373px;
    right: -106px;
}

.six-challenges.ocean-acidification {
    position: absolute;
    top: 326px;
    left: -224px;
}

.six-challenges.declining-ice {
    position: absolute;
    top: 118px;
    left: -361px;
}

.six-challenges.extreme_events {
    position: absolute;
    top: -204px;
    left: -136px;
}

.six-challenges.flooding_dangers {
    position: absolute;
    top: -204px;
    right: -204px;
}

.six-challenges.glacier-retreat {
    position: absolute;
    top: 109px;
    left: 625px;
}

@media (max-width: 1181px) {
    .six-challenges.declining-ice {
        left: -224px;
    }

    .six-challenges.glacier-retreat {
        left: 514px;
    }
}

.logo {
    background-image: url(/images/logo.png);
    width: 756px;
    height: 701px;
    background-size: 100% 100%;
}

.logo_180 {
    background-image: url(/images/logo_180.png);
    width: 756px;
    height: 701px;
    background-size: 100% 100%;
}

.earth_180 {
    background-image: url(/images/earth_180.png);
    width: 432px;
    height: 432px;
    background-size: 100% 100%;
}

.earth .logo {
    position: absolute;
    top: -92px;
    left: -169px;
}

.earth_180 .logo_180 {
    position: absolute;
    top: -177px;
    left: -169px;
}

.slide.hide a {
    cursor: default;
}

.wind_line_1 {
    background-image: url("/images/wind_line_1.png");
    width: 32px;
    height: 109px;
    background-size: 100% 100%;
}

.wind_line_2 {
    background-image: url("/images/wind_line_2.png");
    width: 29px;
    height: 99px;
    background-size: 100% 100%;
}

.water_line_1 {
    background-image: url("/images/water_line_1.png");
    width: 166px;
    height: 243px;
    background-size: 100% 100%;
}

.water_line_2 {
    background-image: url("/images/water_line-2.png");
    width: 189px;
    height: 96px;
    background-size: 100% 100%;
}

.sun_line_1 {
    background-image: url("/images/sun_line_1.png");
    width: 149px;
    height: 291px;
    background-size: 100% 100%;
}

.sun_line_2 {
    background-image: url("/images/sun_line_2.png");
    width: 281px;
    height: 244px;
    background-size: 100% 100%;
}

.wind_power {
    background-image: url("/images/wind_turbins.jpg");
    width: 146px;
    height: 92px;
    background-size: 100% 100%;
}

.solar_power {
    background-image: url("/images/solar_power.jpg");
    width: 310px;
    height: 137px;
    background-size: 100% 100%;
}

.ocean_power {
    background-image: url("/images/ocean_power.jpg");
    width: 146px;
    height: 97px;
    background-size: 100% 100%;
}

.nature_power .ocean_power {
    top: -118px;
    left: -238px;
    position: absolute;
}

.nature_power .water_line_1 {
    position: absolute;
    top: -23px;
    left: -165px;
}

.nature_power .water_line_2 {
    position: absolute;
    top: -65px;
    left: -85px;
}

.nature_power .solar_power {
    position: absolute;
    top: -118px;
    left: 367px;
    z-index: 1;
}

.nature_power .sun_line_1 {
    position: absolute;
    top: -62px;
    left: 217px;
}

.nature_power .sun_line_2 {
    position: absolute;
    top: -2px;
    left: 234px;
}

.nature_power .wind_power {
    position: absolute;
    top: -96px;
    left: 145px;
    z-index: 1;
}

.nature_power .wind_line_1 {
    position: absolute;
    top: -80px;
    left: 111px;
}

.nature_power .wind_line_2 {
    position: absolute;
    top: -70px;
    left: 290px;
}

.nature_power .solar_rectangle {
    border: 1px solid #000084;
    width: 17px;
    height: 17px;
    position: absolute;
    top: 228px;
    left: 216px;
}

.earth_20 {
    background-image: url("/images/earth_20.png");
    width: 216px;
    height: 432px;
    background-size: 100% 100%;
}

.earth_20_2 {
    background-image: url("/images/earth_20_2.png");
    width: 432px;
    height: 313px;
    background-size: 100% 100%;
}

.earth_60 {
    background-image: url("/images/earth_60.png");
    width: 432px;
    height: 432px;
    background-size: 100% 100%;
}

.earth_part_1 {
    background-image: url("/images/earth_part_1.png");
    width: 102px;
    height: 124px;
    background-size: 100% 100%;
}

.earth_part_2 {
    background-image: url("/images/earth_part_2.png");
    width: 111px;
    height: 35px;
    background-size: 100% 100%;
}

.earth_part_3 {
    background-image: url("/images/earth_part_3.png");
    width: 209px;
    height: 161px;
    background-size: 100% 100%;
}

.earth_part_4 {
    background-image: url("/images/earth_part_4.png");
    width: 221px;
    height: 115px;
    background-size: 100% 100%;
}

.parted_world .earth_20{
    position: absolute;
    left: 50%;
    margin-left: 15px;
    top: 202px;
}

.parted_world .earth_20_2{
    position: absolute;
    left: 50%;
    margin-left: -201px;
    top: 320px;
}

.parted_world .earth_60{
    position: absolute;
    left: 50%;
    margin-left: -218px;
    top: 205px;
}

.parted_world .earth_part_1{
    left: 50%;
    position: absolute;
    top: 185px;
    margin-left: 213px;
}

.parted_world .earth_part_2{
    position: absolute;
}

.parted_world .earth_part_3{
    position: absolute;
}

.parted_world .earth_part_4{
    position: absolute;
}