* {
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    font-family: "Trebuchet MS", Arial;
    font-size: 24px;
    color: #000;
    background-color: #9fe8ef;
}

.hide {
    display: none;
}

.slides {
    padding-top: 100px;
}

.earth {
    background-image: url(/images/earth.svg);
    width: 432px;
    height: 432px;
}

.oil-tap {
    background-image: url(/images/oil_tap.png);
    width: 150px;
    height: 225px;
    position: absolute;
    top: 166px;
    left: 317px;
    opacity: 0;
}

.slide {
    position: fixed;
    width: 100%;
}

.slide .earth {
    margin: 0 auto;
}

.slide .title {
    font-weight: normal;
    text-align: center;
    height: 220px;
    padding-top: 20px;
    z-index: 5;
    position: relative;
}

.slide .earth {
    position: relative;
}

.slide .gas-burn {
    position: absolute;
    z-index: 2;
    opacity: 0;
    top: -187px;
    text-align: center;
    width: 100%;
}