* {
    padding: 0;
    margin: 0;
    list-style: none;
}

body {
    font-family: "Trebuchet MS", Arial;
    font-size: 24px;
    color: #000;
    background-color: #9fe8ef;
}

.slides {
    margin-top: 50px;
}

.title {
    font-weight: normal;
    text-align: center;
    z-index: 5;
    position: relative;
    font-size: 24px;
}

.slide-hand-world {
    text-align: center;
}

.slide-hand-world .hand-world {
    margin: -180px -300px 0 -300px;
}

.earth {
    background-image: url('/images/earth.png');
    width: 432px;
    height: 432px;
    background-size: 100% 100%;
}

.burn-coal {
    background-image: url('/images/coal_burning.png');
    height: 415px;
    width: 432px;
    background-size: 100% 100%;
}

.oil-tap {
    background-image: url('/images/oil_tap.png');
    width: 150px;
    height: 225px;
    background-size: 100% 100%;
}

.slide {
    position: fixed;
    width: 100%;
    z-index: 1;
}

.slide.hide {
    opacity: 0 !important;
    z-index: 0;
}

.slide .earth {
    position: absolute;
    left: 50%;
    margin-left: -218px;
    top: 205px;
}

.slide .earth .oil-tap {
    top: 181px;
    right: -50px;
    position: absolute;

}

.burn-coal, .slide-coal-burning .burn-coal {
    position: absolute;
    top: -164px;
}

.slide .gas-burn {
    position: absolute;
    z-index: 2;
    opacity: 0;
    top: -222px;
    text-align: center;
    width: 100%;
}

.slide .gas-burn img {
    margin: 0 -369px;
}

.natural-gas-fade-in .oil-tap, .tap-planet-fade-out .oil-tap {
    opacity: 1;
}

.six-challenges {
    text-decoration: none;
}

.six-challenges.global-warming {
    position: absolute;
    top: 373px;
    right: -106px;
}

.six-challenges.ocean-acidification {
    position: absolute;
    top: 326px;
    left: -224px;
}

.six-challenges.declining-ice {
    position: absolute;
    top: 118px;
    left: -361px;
}

.six-challenges.extreme_events {
    position: absolute;
    top: -204px;
    left: -136px;
}

.six-challenges.flooding_dangers {
    position: absolute;
    top: -204px;
    right: -204px;
}

.six-challenges.glacier-retreat {
    position: absolute;
    top: 109px;
    left: 625px;
}

@media (max-width: 1181px) {
    .six-challenges.declining-ice {
        left: -224px;
    }

    .six-challenges.glacier-retreat {
        left: 514px;
    }
}

.logo {
    background-image: url(/images/logo.png);
    width: 756px;
    height: 701px;
    background-size: 100% 100%;
}

.logo_180 {
    background-image: url(/images/logo_180.png);
    width: 756px;
    height: 701px;
    background-size: 100% 100%;
}

.earth_180 {
    background-image: url(/images/earth_180.png);
    width: 432px;
    height: 432px;
    background-size: 100% 100%;
}

.earth .logo {
    position: absolute;
    top: -92px;
    left: -169px;
}

.slide.hide a {
    cursor: default;
}
